<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<header th:replace="navbar :: navbar"></header>
<div class="container">
    <h1>Answer the Questions Below</h1>
    <form th:action="@{/duolingo/test/answers}" th:object="${resultRequest}" method="post">
        <input type="hidden" th:field="*{languageName}" />
        <div th:each="answer, iterStat : *{answers}">
            <div class="form-group">
                <label th:text="${questions[iterStat.index].question}">Default Question Text</label>
                <input type="hidden" th:field="*{answers[__${iterStat.index}__].question}" />
                <input type="text" th:field="*{answers[__${iterStat.index}__].answer}" class="form-control"/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit Answers</button>
    </form>

</div>
</body>
</html>
